<h2>My shopping cart</h2>
{% if cart is empty %}
    <i>Your cart is empty</i>
{% endif %}

{% for product in cart %}
    <li>{{ product }} </li>
{% endfor %}

{% if cart|length %}
    <a href="{{ path('cart_clear') }}" class="btn-default btn">Clear</a>
{% endif %}