{% extends 'RXBundle::base.html.twig' %}


{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div id="cart">
        {{ render(controller(
        'RXBundle:Default:cart'
        )) }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget-header">
                <div class="toolbar no-padding">
                    <div class="btn-group"></div>
                </div>
                <div class="widget-content no-padding">


                    <div class="widget box">
                        <div class="widget-header">
                            <h4>
                                Available products
                            </h4>
                        </div>
                        <div class="widget-content">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}